In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
!pip install nltk
#natural language processing Tool Kit (Doğal dil araç kiti)

Requirement already satisfied: nltk in c:\users\asus\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk) (0.16.0)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\asus\anaconda3\lib\site-packages (from nltk) (2020.6.8)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk) (4.47.0)

In [3]:
import nltk
from nltk.tokenize import sent_tokenize
#sent_tokenize ne işe yarar? (cümle)
#paragraftan cümleleri ayırıp liste haline getirir.
#bir kitabı da versen cümleleri ayırıp liste yapar.

In [4]:
nltk.download('punkt')
#ihtiyacımız olan paketi indirdik.

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
text = "Welcome readers. I hope you find it interesting. Please do reply."
print(sent_tokenize(text))
#tokenize parçalara ayır demek sonra da listeye çevirir.

['Welcome readers.', 'I hope you find it interesting.', 'Please do reply.']

In [6]:
#word_tokenize cümleden kelimeleri ayırarak liste haline getirir.
text = nltk.word_tokenize("PierreVinken, 59 years old , will join as a nonexecutive director or Nov.29.")
print(text)

['PierreVinken', ',', '59', 'years', 'old', ',', 'will', 'join', 'as', 'a', 'nonexecutive', 'director', 'or', 'Nov.29', '.']

In [7]:
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()
tokenizer.tokenize("Don't have a nice day. I, hope you find the book interesting")
#word_tokenize ile aynı işlemi yapar.
#. ve boşluk koyunca anlıyor ve yeni cümle olarak anlaması için büyük harfle başlaman lazım

['Do',
 "n't",
 'have',
 'a',
 'nice',
 'day.',
 'I',
 ',',
 'hope',
 'you',
 'find',
 'the',
 'book',
 'interesting']

In [8]:
nltk.download("stopwords")
#stopwords : gereksiz kelimeler

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [9]:
MPT = nltk.WordPunctTokenizer()
stop_word_list = nltk.corpus.stopwords.words('turkish')

In [10]:
stop_word_list #Türkçe'deki gereksiz kelimeler.

['acaba',
 'ama',
 'aslında',
 'az',
 'bazı',
 'belki',
 'biri',
 'birkaç',
 'birşey',
 'biz',
 'bu',
 'çok',
 'çünkü',
 'da',
 'daha',
 'de',
 'defa',
 'diye',
 'eğer',
 'en',
 'gibi',
 'hem',
 'hep',
 'hepsi',
 'her',
 'hiç',
 'için',
 'ile',
 'ise',
 'kez',
 'ki',
 'kim',
 'mı',
 'mu',
 'mü',
 'nasıl',
 'ne',
 'neden',
 'nerde',
 'nerede',
 'nereye',
 'niçin',
 'niye',
 'o',
 'sanki',
 'şey',
 'siz',
 'şu',
 'tüm',
 've',
 'veya',
 'ya',
 'yani']

## Stemmer and Lemmatizer

__Stemmer ekleri atar, Lemma kökleri bulur__

### PorterStemmer

In [11]:
from nltk.stem import PorterStemmer
stemmerporter = PorterStemmer()
stemmerporter.stem('hapiness')
#hapiness' in kökünü bulacağız.

'hapi'

### LancasterStemmer

In [12]:
from nltk.stem import LancasterStemmer
stemmerlan = LancasterStemmer()
stemmerlan.stem('hapiness')

'hapy'

### RegexpStemmer

In [13]:
from nltk.stem import RegexpStemmer
stemmerregexp = RegexpStemmer('ing')
#Kaldırmak istediğimiz eki parantez içine yazdık.
print(stemmerregexp.stem('working'))
print(stemmerregexp.stem('hapiness'))
print(stemmerregexp.stem('pairing'))

work
hapiness
pair

### Snowball Stemmer

In [14]:
from nltk.stem import SnowballStemmer
print(SnowballStemmer.languages)
#Burada hangi dilleri desteklediğini görüyoruz.
#Başka dillerdeki kelimelerin köklerini bulmamızı sağlar.

spanishtemmer = SnowballStemmer("spanish")
print(spanishtemmer.stem("comiende"))

('arabic', 'danish', 'dutch', 'english', 'finnish', 'french', 'german', 'hungarian', 'italian', 'norwegian', 'porter', 'portuguese', 'romanian', 'russian', 'spanish', 'swedish')
comiend

### Lemmatization

#### Kökleri bulur

In [15]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [16]:
from nltk.stem import WordNetLemmatizer
lemmatizer_output = WordNetLemmatizer()
print(lemmatizer_output.lemmatize('working'))
#working'i aynen bastırdı çünkü bu ing ekiyle farklı bir anlamı olan bir kelime
#pos = part of speech(Cümlenin ögeleri)
#pos ile bu kelimenin fiil(verb) olduğunu söylüyoruz.
print(lemmatizer_output.lemmatize('working',pos='v'))
#working' in fiil olduğunu biliyoruz kökünü bul diyoruz.
print(lemmatizer_output.lemmatize('works'))

working
work
work

## Differences between Stemming and Lemmetization

In [17]:
from nltk.stem import PorterStemmer
stemmer_output = PorterStemmer()
print(stemmer_output.stem('happiness'))
print(stemmer_output.stem('Mens'))

happi
men

In [18]:
from nltk.stem import WordNetLemmatizer
lemmatizer_output=WordNetLemmatizer()
lemmatizer_output.lemmatize('Mens')
#stem ile ekleri keser
#went' i go' ya çeviriyorsa kök buluyordur ve bunu stemma yapar

'Mens'

## Part-of-Speech Tagging and POS Tagger
Özne mi nesne mi vs...

In [19]:
from nltk.tokenize import word_tokenize
text = word_tokenize('Drive into NLTK: Part-of-speech tagging and POS Tagger')
text

['Drive',
 'into',
 'NLTK',
 ':',
 'Part-of-speech',
 'tagging',
 'and',
 'POS',
 'Tagger']

In [20]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [21]:
nltk.pos_tag(text)

[('Drive', 'NNP'),
 ('into', 'IN'),
 ('NLTK', 'NNP'),
 (':', ':'),
 ('Part-of-speech', 'JJ'),
 ('tagging', 'NN'),
 ('and', 'CC'),
 ('POS', 'NNP'),
 ('Tagger', 'NNP')]

__NNP ,CC,IN...__ anlamlarını öğrenmek için Google'da nltk.pos_tag list olarak aratırsak karşımıza çıkacaktır.

### Part of speech tagging

In [22]:
text = word_tokenize('It is a pleasant day today')
nltk.pos_tag(text)

[('It', 'PRP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('pleasant', 'JJ'),
 ('day', 'NN'),
 ('today', 'NN')]

In [23]:
from nltk.tag import DefaultTagger
tag = DefaultTagger('He is the man')
#hangisinin ne olduğunu söyler(ne olarak etiketlemek istediğimizi yazıyoruz)
#beautiful ve morningi he is the man olarak etiketledik.
tag.tag(['Beautiful','morning'])

[('Beautiful', 'He is the man'), ('morning', 'He is the man')]

## Language conversion & Text formatting & Grammer

In [24]:
!pip install autocorrect
#yanlış yazılmış kelimeleri düzelteceğiz

Requirement already satisfied: autocorrect in c:\users\asus\anaconda3\lib\site-packages (2.4.0)

In [25]:
from autocorrect import spell

In [26]:
spell('Tghe') # Burada 'the' kelimesini düzeltti

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'The'

## TextBlob
Bir kelimenin hangi dilden olduğunu anlayabiliyoruz

In [27]:
!pip install --trusted-host pypi.python.org textblob

Requirement already satisfied: textblob in c:\users\asus\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\asus\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.16.0)
Requirement already satisfied: regex in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.6.8)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.47.0)

In [28]:
from textblob import TextBlob
#hangi dilde konuştuğumuzu anlar correct ile de düzeltir.

In [29]:
b = TextBlob('I havv good spelling!')
print(b.detect_language())
print(b.correct())
#en = english

en
I have good spelling!

In [30]:
from textblob import Word

In [31]:
w=Word('falability')
w.spellcheck()
#Burada yazımı yanlış olabilen kelimelerin doğru olabilecek ihtimallerini verir.

[('fallibility', 0.3333333333333333),
 ('capability', 0.3333333333333333),
 ('affability', 0.3333333333333333)]

In [32]:
!pip install langdetect
#Yazılan cümle veya kelimelerin hangi dilden olduğunu verir.

Requirement already satisfied: langdetect in c:\users\asus\anaconda3\lib\site-packages (1.0.8)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from langdetect) (1.15.0)

In [33]:
from langdetect import detect
print(detect("War doesn't show who's right, just who's left"))
print(detect("Ein, zwei, drei, vier"))
print(detect("Eu gosto de vier"))
print(detect("Nasılsınız"))

en
de
es
tr

In [34]:
en_blob = TextBlob(u'I am a free black man loved by Jesus Christ.')
en_blob.translate(to='pt')

TextBlob("Eu sou um homem negro livre amado por Jesus Cristo.")

In [35]:
tr_blob = TextBlob(u'Benim çok işim var.')
tr_blob.translate(to='en')

TextBlob("I have a lot of work.")

## TF-IDF Term Frequency - Inverse Document Frequency
TF = Kelimenin kaç defa geçtiği manasına gelir.

IDF = Herhangi bir text döküman vs içerisinde belirli kelime kaç defa geçtiğini yüzde olarak hesaplar.

#### - Kelimelerin bir dökümanda ne kadar tekrar ettiğine bakar. Google web sitelerinin anasayfasından bir kelimenin ne kadar tekrar ettiğini buluyor

#### - Aradığın kelime %20 den fazla bağlantılıysa o siteyle ilişki kurup sana yönlendiriyor

In [36]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [37]:
simple_train=['Call you tonight','Call me a cab','please call me... PLEASE!']
vect = CountVectorizer()
#cümle içinde geçen her kelime için bir sütun açtı
#Cümle de o kelime geçerse 1 yazar
#fit ile öğrenir. transform ise 1-0 yazmaya yarar
#toarray bunu diziye çevirir.
#columns'ta sütun isimlerini alıp başına koyar
#varsa 1 eklendi yoksa 0 koydu
tf = pd.DataFrame(vect.fit_transform(simple_train).toarray(),columns=vect.get_feature_names())
#fit_transform ile sütun isimleri kaybolur
tf

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [38]:
vect=CountVectorizer(binary=True)
df = vect.fit_transform(simple_train).toarray().sum(axis=0)
pd.DataFrame(df.reshape(1,6),columns=vect.get_feature_names())

   cab  call  me  please  tonight  you
0    1     3   2       1        1    1

In [39]:
tf/df

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     2.0      0.0  0.0

In [40]:
vect=TfidfVectorizer()
pd.DataFrame(vect.fit_transform(simple_train).toarray(),columns=vect.get_feature_names())
#BÜtün kelimeleri çok boyutlu bir uzayda vektör olarak düşünüyoruz ve bu kelimeleri 0 noktasına olan uzaklığı hesaplıyor.

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

# CountVectorizer-Fit Transform with NLP

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(min_df=1)

print(vectorizer)
corpus=['This is the first document','This is second second documents','And the third one']
x=vectorizer.fit_transform(corpus)
tf=pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names())
tf

CountVectorizer()

   and  document  documents  first  is  one  second  the  third  this
0    0         1          0      1   1    0       0    1      0     1
1    0         0          1      0   1    0       2    0      0     1
2    1         0          0      0   0    1       0    1      1     0

# Yelp review analysis
Yelp diye bir restaurant hakkında yazılmış yorumların analizini yapmaya başlayacağız. Yazılan yorumlar negatif mi pozitif mi bunu anlamaya çalışacağız.

In [42]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from textblob import TextBlob, Word
from nltk.stem.snowball import SnowballStemmer
%matplotlib inline

In [43]:
yelp = pd.read_csv('yelp.csv')
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [44]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

In [45]:
#Restaurant adına yazılan yorumun pozitif mi negatif mi olduğunu anlayacağız.

# NLP PROJE ADIMLARI

__1-__Bütün cümleler küçük harfe çevirilir.

__2-__Noktalama işaretleri kaldırılır.

__3-__Rakamları kaldır.

__4-__Satır sonu,\n enter a basılmışsa \r

__5-__stop words(gereksiz kelimeler)'leri kaldırç

__6-__Tokenize işlemi yapıyoruz.

__7-__Lemma ve stemma uygula(ekleri kaldırıp kökleri bul)

__8-__vectorizer ile yazıları rakama atıyoruz(dummie_variables gibi)

In [46]:
yelp['text'] = yelp['text'].str.lower()
#CÜmleleri küçük harfe çevirir.

In [47]:
yelp['text'] = yelp['text'].str.replace('[^\w\s]','')
#Noktalama işaretlerini kaldırır.

In [48]:
yelp['text'] = yelp['text'].str.replace('[\d+]','')
#Rakamları kaldırır(rakamları boşluk ile değiştirir.)

In [49]:
yelp['text'] = yelp['text'].str.replace('\n','').replace('\r','')
#satır sonu işaretleri kaldırılır.

In [50]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate rice is so good and i also...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [64]:
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]
#Burada 5 yıldız verenler ile 1 yıldız verenleri ayırdık(yani veri olarak onları aldık.) Çünkü 5 yıldız verenlerin pozitif 1 yıldız verenlerin negatif konuştuğunu biliyoruz.

yelp_best_worst.reset_index(drop=True,inplace=True)
#indexleri sıfırlayıp yeniden indexliyoruz
x=yelp_best_worst.text
y=yelp_best_worst.stars
print(x.shape)

x_train, x_test, y_train, y_test= train_test_split(x,y,random_state=42)
#10000? satırlık veri 4086 oldu.

(4086,)

In [65]:
print(x)

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
2       rosie dakota and i love chaparral dog park its...
3       general manager scott petello is a good egg no...
4       drop what youre doing and drive here after i a...
                              ...
4081    yes i do rock the hipster joints  i dig this p...
4082    only  stars a few notes the folks that rated t...
4083    im not normally one to jump at reviewing a cha...
4084    lets seewhat is there not to like about surpri...
4085     locations all  star average i think arizona r...
Name: text, Length: 4086, dtype: object

In [66]:
print(y)

0       5
1       5
2       5
3       5
4       5
       ..
4081    5
4082    5
4083    5
4084    5
4085    5
Name: stars, Length: 4086, dtype: int64

In [67]:
#Şimdi biz bu projede eğer yeni birisi yorum yazarsa acaba kaç yıldız verir onu bulacağız.

### Tokenization

In [68]:
vect=CountVectorizer(lowercase=True,stop_words='english',)
x_train_dtm=vect.fit_transform(x_train)
print(x_train_dtm)
x_test_dtm=vect.transform(x_test)

  (0, 2113)	1
  (0, 17234)	1
  (0, 7774)	1
  (0, 1798)	1
  (0, 5661)	1
  (0, 20153)	1
  (0, 10576)	1
  (0, 17261)	1
  (0, 16168)	1
  (0, 9039)	1
  (0, 10636)	1
  (0, 19350)	1
  (0, 10674)	1
  (0, 13521)	1
  (0, 509)	1
  (0, 17935)	1
  (0, 16097)	1
  (0, 14583)	1
  (0, 12027)	1
  (0, 20116)	1
  (0, 15939)	1
  (0, 10661)	1
  (0, 6156)	1
  (0, 15946)	1
  (1, 20153)	1
  :	:
  (3062, 19917)	1
  (3062, 5578)	1
  (3062, 18740)	1
  (3062, 12233)	1
  (3063, 15000)	1
  (3063, 7855)	2
  (3063, 13546)	1
  (3063, 4767)	1
  (3063, 9580)	1
  (3063, 12000)	1
  (3063, 7192)	1
  (3063, 9014)	1
  (3063, 16988)	1
  (3063, 10767)	1
  (3063, 3057)	1
  (3063, 1676)	1
  (3063, 1989)	1
  (3063, 8409)	1
  (3063, 16322)	1
  (3063, 19278)	1
  (3063, 3083)	1
  (3063, 2135)	1
  (3063, 17070)	1
  (3063, 15104)	1
  (3063, 11004)	1

In [69]:
print(x_test)

599     from my door its a five minute stroll through ...
752     this is by far the best chicken fried steak ar...
3148    ok so us  hot chix got all dolled up for dinne...
1001    located in the space formerly occupied by lgos...
2515    does anyone know why their regular subs are  m...
                              ...
1941    alasive given up the idea of writing a review ...
1350    this has got to be the best barber shop ive ev...
927     simple but really great cajun food prepared in...
612     awesome food anyone go check out modern steak ...
1498    i was very disappointed in my encounter with t...
Name: text, Length: 1022, dtype: object

In [70]:
tf=pd.DataFrame(x_train_dtm.toarray(),columns=vect.get_feature_names())
tf.head()

,______i,aa,aaa,aaaamazingthey,aaron,aathis,ab,abandoned,abandoning,abbazabba,...,zucchini,zucchiniwe,zuccini,zuchinni,zumba,zupa,zupas,zuzu,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
x_train.head()

2456    my boyfriend and i stopped by to grab a bite t...
2562    when was the last time that you went to a rest...
219     handsdown my favorite pizza place in the east ...
3199    arai pastry is so deliciousironically i come h...
485     great mompop store weve stopped by several tim...
Name: text, dtype: object

In [72]:
vect=CountVectorizer()
x_train_dtm=vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 20809)

In [73]:
vect=CountVectorizer(ngram_range=(1,2))
#ngram kelimenin öncesi veya sonrası. yani 2 kelimeye bakacak.
x_train_dtm=vect.fit_transform(x_train)
x_train_dtm.shape

(3064, 174168)

In [74]:
print(vect.get_feature_names()[-50:])#son 50 kelime

['zoners', 'zoners out', 'zones', 'zones dolls', 'zones so', 'zoning', 'zoning issues', 'zoo', 'zoo but', 'zoo if', 'zoo is', 'zoo not', 'zoo the', 'zoo tour', 'zoom', 'zoom in', 'zoyo', 'zoyo for', 'zucca', 'zucca appetizer', 'zucchini', 'zucchini and', 'zucchini broccoli', 'zucchini carrots', 'zucchini fires', 'zucchini fries', 'zucchini pieces', 'zucchini strips', 'zucchini very', 'zucchini with', 'zucchiniwe', 'zucchiniwe all', 'zuccini', 'zuccini italian', 'zuchinni', 'zuchinni again', 'zumba', 'zumba class', 'zumba or', 'zumba yogalates', 'zupa', 'zupa flavors', 'zupas', 'zupas cater', 'zuzu', 'zuzu was', 'école', 'école lenôtre', 'ém', 'ém all']

## Predict the star rating

In [75]:
vect=CountVectorizer()
x_train_dtm=vect.fit_transform(x_train)
x_test_dtm=vect.transform(x_test)

In [77]:
nb=MultinomialNB()
nb.fit(x_train_dtm,y_train)
y_pred_class=nb.predict(x_test_dtm)

print(metrics.accuracy_score(y_test,y_pred_class))

0.8972602739726028

## Calculate null accuracy

In [81]:
def tokenize_test(vect):
    x_train_dtm = vect.fit_transform(x_train)
    print('Features: ',x_train_dtm.shape[1])
    x_test_dtm=vect.transform(x_test)
    nb=MultinomialNB()
    nb.fit(x_train_dtm, y_train)
    y_pred_class = nb.predict(x_test_dtm)
    print('Accuracy: ',metrics.accuracy_score(y_test, y_pred_class))
#burada ngram_range bir kelimeye iki kelime yaptık.(Öncesi sonrası) Bunu yaptığımızda ve yapmadığımızdaki başarı oranlarını karşılaştırıyoruz.

In [82]:
vect = CountVectorizer(ngram_range=(1,2))
tokenize_test(vect)

Features:  174168
Accuracy:  0.8317025440313112

In [83]:
vect = CountVectorizer()
tokenize_test(vect)

Features:  20809
Accuracy:  0.8972602739726028

### Stopword Removal